body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/

    
    
    flex-flow: row wrap;
    justify-content: space-between;

    height: 600px;
    align-items: flex-start;

    border: 3px solid black;
    padding: 5px;
}

.caja{
    /* flex-grow: 1; Especificar que cantidad de espacio puede ocupar el elemento */
    /*width: 25%;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: grey;
}

.red{
    align-self: flex-start;
    /*order: 3;*/
    /* flex-grow: 25; */
    background: red;
}

.green{
    align-self: center;
    /* flex-grow: 7; */
    background: green;
}

.blue{
    align-self: center;
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    background: blue;
}

.orange{
    align-self: flex-end;
    /* flex-grow: 10; */
    background: orange;
}